/* Fonts */
@font-face {
  font-family: gotham;
  src: url(gothambold);
  font-family: Helvetica;
  src: url(HelveticaNeue);
}

.nav-bar {
  background-color: #383838;
  height: 50px;
  position: sticky;
  top: 0;
}

.company {
  color: #d35266;
  font-family: gotham;
}

a {
  text-decoration: none;
  color: #888;
}

.header {
  background-color: #d35266;
  height: 250px;
}

.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
  font-family: got;
}

.trans {
  margin-bottom: 0;
  margin-top: 80px;
  font-family: gotham;
}

.trans-vagen {
  margin: 0;
  font-family: helvetica;
  font-size: 15px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

.form {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  font-family: helvetica;
}

.search {
  margin-top: 16px;
  width: auto;
}

.categories {
  width: auto;
}

.search-tab {
  margin-left: 5px;
  padding-left: 5px;
  margin-top: 17px;
  background-color: #383838;
  color: #888888;
}

.product {
  border: solid #d8d7d7 0.5px; 
  width: auto; 
}


.price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
}

.figure {
  background-color: #D35266;
  color: #383838;
  padding: 5px;
  margin: 0;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  margin-bottom: 0;
}

.pink {
  font-family: gotham;
  color: #D35266;
}

.grey {
  font-family: helvetica;
  color: #888888;
}

.img {
  width: 100%;
  height: 200px;
}

.content {
  margin: 20px;
  color: #888888;
}

.body {
  background-color: rgb(253, 252, 252);
  border-bottom: solid #888888 0.5px;
  margin-left: 20px;
  margin-right: 20px;
}

.social-media {
  display: flex;
  justify-content: space-between;
    
}

.social {
  margin-top: 20px;
  margin-left: 20px;
  color: #888888;
}

.copyright {
  text-align: center;
}

.flex-footer {
  display: none;
}

.sub-categories {
  display: none;
}

.product-section {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  margin-left: 20px;
  margin-right: 20px;
}

.icon {
  margin-left: 5px;
}

.nav-links {
  display: none;
}

.hamburger {
  display: flex;
  justify-content: space-between;
}

.menu {
  color: white;
  margin-top: 20px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .flex-shop {
    display: flex;
    flex-direction: column;
  }
    
  .shop {
    line-height: 1.5px;
    padding: 0;
    margin: 10px;
  }
    
  .flex-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .border-footer {
    border-bottom: solid #888888 0.5px;
  }
    
  .sub-categories {
    display: block;
  }

    
  .body {
    background-color: rgb(253, 252, 252);
    border-bottom: solid #888888 0.5px;
    margin-left: 50px;
    margin-right: 50px;
  }

    
  .footer {
    margin-left: 50px;
    margin-right: 50px;
  }

    
  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-family: helvetica;
  }

    
  .hamburger {
    display: none;
  }
}
