.nav-bar {
    background-color: #383838;
    height: 50px;
}

.company {
    color: #D35266;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

a {
    text-decoration: none;
    color: #888888;
}

.header {
    background-color: #D35266;
    height: 250px;
}

.banner {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
    font-family: got;
}

.trans {
    margin-bottom: 0;
    margin-top: 80px;
}

.trans-vagen {
    margin: 0;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}

.form {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.search {
    margin-top: 16px;
    width: auto;
}

.categories {
    width: auto;
}

.search-tab {
    margin-left: 5px;
    background-color: #383838;
    color: #888888;
}

.product {
    border: solid #888888 0.5px;
    width: auto; 
}


.price {
    display: flex;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}

.img {
    width: 100%;
    margin: 5px;
}